@import "tailwindcss";

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-border: #e5e5e5;
  --color-muted: #f4f4f5;
  
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
  --color-card-dark: #171717;
  --color-card-foreground-dark: #ededed;
  --color-border-dark: #27272a;
  --color-muted-dark: #27272a;
}


.dark {
  --color-background: var(--color-background-dark);
  --color-foreground: var(--color-foreground-dark);
  --color-card: var(--color-card-dark);
  --color-card-foreground: var(--color-card-foreground-dark);
  --color-border: var(--color-border-dark);
  --color-muted: var(--color-muted-dark);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}