
.detailCard {
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 10px;
    height: 100%;
    padding: 0 30px;
    margin-top: 20px;
}

.shoppingCardsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.loadingSpinner {
    text-align: center;
    padding: 40px;
    font-size: 1.2rem;
    color: #666;
}

.ListHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newListButton {
    height: fit-content;
}
